@import "../../styles/color";

.docHtml {
  background-color: var(--page-main-color);
  padding: 0 16px;
  p {
    strong {
      color: var(--close-icon-color);
      font-weight: 600;
    }
    color: var(--text-grey-color);
    padding: 10px 0 0;
    text-align: justify;
  }
  img {
    width: 100%;

    margin: 0 auto;
  }
  ol {
    padding-left: 16px;
  }
  li {
    margin: 10px 0;
  }
}
