.myCards {
  padding: 0 16px;

  .headerText {
    margin-top: 24px;
    text-align: center;
    height: 30vh;
  }
  .myCardsBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
      color: #282727;
      margin-bottom: 8px;
    }
    p {
      font-size: 17px;
      font-weight: 400;
      line-height: 23px;
      color: #282727;
      margin-bottom: 8px;
      padding: 0 24px;
      text-align: center;
      color: #686b70b2;
    }
  }

  .addBtn {
    padding: 12px;
    border: 1px solid #ededed;
    text-align: center;
    border-radius: 12px;
    color: #686b70;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
  }

  .text {
    margin: 24px 0;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
  }
  .paymentMethod {
    background: linear-gradient(0deg, rgba(104, 107, 112, 0.05), rgba(104, 107, 112, 0.05)),
      linear-gradient(0deg, #f9f9f9, #f9f9f9);
    border: 1px solid #686b700d;
    padding: 8px 16px;
    padding-left: 8px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    .editCard {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    .editBtn {
      color: #12adc1;
      border: none;
      cursor: pointer;
      background: none;
      font-weight: 600;
      font-size: 15px;
    }
  }
}
