$primary-color: #0073ff;
$main-color: #242429;
$main-light-color: #2c2d35;
$button-color: linear-gradient(to top, #0073ff, #00c2ff);
$text-grey-color: #b3b7ce;
$page-main-color: #1c1c1e;
$page-header-color: #242429;
