.PaymentWrap {
  padding: 0 16px;
  min-height: 90vh;

  .stationHeader {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    margin: 24px 0 8px;
  }

  .stationBox {
    background: linear-gradient(0deg, rgba(104, 107, 112, 0.05), rgba(104, 107, 112, 0.05)),
      linear-gradient(0deg, #f9f9f9, #f9f9f9);
    border-radius: 12px;
    border: 1px solid #686b700d;

    .stationAddress {
      background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(0deg, #f1f1f1, #f1f1f1);
      margin: 12px;
      padding: 12px;
      border-radius: 12px;
      border: 1px solid #f1f1f1;
      h1 {
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
      }
      p {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
      }
    }
    .stationInfo {
      .stationDetail {
        display: flex;
        margin: 12px;

        .tarifLine {
          flex-grow: 1;
          border-bottom: 1px solid #282727;
          opacity: 0.05;
        }
        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          color: #686b70b2;
        }
        span {
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          color: #686b70;
        }
      }
    }
  }
  .paymentPlan {
    background: linear-gradient(0deg, rgba(104, 107, 112, 0.05), rgba(104, 107, 112, 0.05)),
      linear-gradient(0deg, #f9f9f9, #f9f9f9);
    border-radius: 12px;
    border: 1px solid #686b700d;
    padding: 12px;
    .paymentBox {
      display: flex;
      margin: 12px;
      .tarifLine {
        flex-grow: 1;
        border-bottom: 1px solid #282727;
        opacity: 0.05;
      }
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        color: #686b70b2;
      }
      span {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        color: #686b70;
      }
    }
  }
  .paymentMethod {
    background: linear-gradient(0deg, #f3f3f3, #f3f3f3), linear-gradient(0deg, #f9f9f9, #f9f9f9);
    border: 1px solid #ECECEC;
    padding: 8px 16px;
    border-radius: 12px;
    align-items: center;
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    .editCard {
      display: flex;
      gap: 12px;
      align-items: center;
    }
    .editBtn {
      color: #12adc1;
      border: none;
      cursor: pointer;
      background: none;
      font-size: 14px;
      font-weight: 600;
    }
  }
  .question {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    margin: 24px 0 8px;
    color: #12adc1;
    margin-bottom: 27px;
  }
}

.rentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  margin: 0 auto;
  background-color: #12adc1;
  color: white;
  border-radius: 12px;
  border: none;
  margin-top: auto;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.bonus {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  border-radius: 100px;
  background: rgba(249, 205, 47, 0.15);

  font-size: 13px;
  font-weight: 600;
  line-height: 18px; 
  color: #F9CD2F;
}