.priceHtml {
  padding: 0 16px;
  p {
    padding: 24px 0 0;
  }
  img {
    width: 100%;

    margin: 0 auto;
  }
  ol {
    padding-left: 16px;
  }
  li {
    margin: 16px 0;
  }
}

.py3 {
  padding-top: 12px;
  padding-bottom: 12px;
  transition: 0.5s;
}
