@import "../styles/color";
.priceHtml {
  background-color: $page-main-color;
  padding: 0 16px;
  p {
    strong {
      color: #fff;
      font-weight: 600;
    }
    padding: 24px 0 0;
    color: $text-grey-color;
    text-align: justify;
  }
  img {
    width: 100%;

    margin: 0 auto;
  }
  ol {
    padding: 0 16px;
  }
  li {
    margin: 16px 0;
    text-align: justify;
  }
}

.py3 {
  padding-top: 12px;
  padding-bottom: 12px;
  transition: 0.5s;
}
