@import "../../../styles/color";

.header {
  display: flex;
  justify-content: space-between;
  // padding: 16px;
  border-bottom: 1px solid #4b4b59;
  width: 100%;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
.BackIcon {
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
  margin-right: -40px;
  padding: 16px;
}
.blueBg {
  background-color: $page-header-color;
  border-bottom: 1px solid $page-header-color;
  border-bottom: 1px solid #4b4b59;
}
