@import "../../../styles/color";

.faqWrapper {
  padding: 16px;
  text-align: justify;
  height: 100vh;
  background-color: var(--page-main-color);

  .questionCard {
    background: #242429;
    border: 1px solid #313136;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;

    .question {
      color: var(--close-icon-color);
      font-size: 15px;
      margin-bottom: 6px;
    }

    .openCard {
      max-height: 1000px; /* Set to a sufficiently large value */
      overflow: hidden;
      transition: max-height 0.5s ease;

      .answer {
        font-size: 15px;
        color: var(--text-grey-color);
      }
    }

    .card {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
    }

    .moreWrap {
      display: flex;
      justify-content: flex-end;
      color: $primary-color;
      font-size: 13px;
      font-weight: 500;
      line-height: 18px;
      cursor: pointer;
      align-self: flex-end;
    }
    .moreWrap:active,
    .moreWrap:focus {
      outline: none !important;
      background-color: #f9f9f9 !important;
      background: #f9f9f9;
    }
  }
  .questionCardWhite {
    background: #fff;
    border: 1px solid #fff;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;

    .question {
      color: var(--close-icon-color);
      font-size: 15px;
      margin-bottom: 6px;
    }

    .openCard {
      max-height: 1000px; /* Set to a sufficiently large value */
      overflow: hidden;
      transition: max-height 0.5s ease;

      .answer {
        font-size: 15px;
        color: var(--text-grey-color);
      }
    }

    .card {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
    }

    .moreWrap {
      display: flex;
      justify-content: flex-end;
      color: $primary-color;
      font-size: 13px;
      font-weight: 500;
      line-height: 18px;
      cursor: pointer;
      align-self: flex-end;
    }
    .moreWrap:active,
    .moreWrap:focus {
      outline: none !important;
      background-color: #f9f9f9 !important;
      background: #f9f9f9;
    }
  }
}
