@import "../../../styles/color";

.container {
  height: 100%;
  background: var(--page-main-color);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.usedHistory {
  background-color: var(--bonus-card-color);
  padding: 24px 16px 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  .usedTime {
    display: flex;
    justify-content: space-between;
    color: $primary-color;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    padding-bottom: 4px;
    .used {
      background: #0073ff26;
      border-radius: 100px;
      padding: 4px 10px;
    }
  }
  .usedInfo {
    padding: 12px 6px 0;

    color: #fff;
    div {
      color: var(--text-grey-color);
    }
    p {
      color: var(--text-grey-color);
      padding-bottom: 2px;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
    }
    p:nth-child(2) {
      color: var(--close-icon-color);
      padding-bottom: 2px;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
    }
    .debtPayment {
      color: #ed4337;
    }
  }
  pre {
    color: var(--close-icon-color) !important;
    padding-bottom: 2px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
  .historyInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2px;
    gap: 10px;
  }

  .moreWrap {
    display: flex;
    justify-content: flex-end;
    color: var(--primary-color);
    font-size: 13px;
    // background: #f9f9f9;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
    align-self: flex-end;
  }
  // .moreWrap:active,
  // .moreWrap:focus {
  //   outline: none !important;
  //   background-color: #0073ff26 !important;
  //   background: #0073ff26;
  // }

  .openCard {
    max-height: 1000px; /* Set to a sufficiently large value */
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .card {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
}

.NoHistory {
  height: 100vh;
  background-color: var(--page-main-color);
  .NoHistoryBox {
    padding: 16px;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header {
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
      color: var(--close-icon-color);
      text-align: center;
    }
    .text {
      font-size: 17px;
      font-weight: 400;
      line-height: 22px;
      color: var(--text-grey-color);
      text-align: center;
    }
    .btn {
      width: 100%;
      color: #fff;
      padding: 12px;
      background: $button-color;
      border-radius: 10px;
      margin-top: 16px;
    }
  }
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  padding: 5px;

  .loadMore {
    background: #cfd3db;
    padding: 8px 16px;
    border-radius: 8px;
    color: #1b1c1db2;

    span {
      width: 20px !important;
      height: 20px !important;
    }
  }
}
