.usedHistory {
  background: #f9f9f9;
  margin: 24px 16px 16px;
  border-radius: 12px;
  padding: 12px;

  .usedTime {
    display: flex;
    justify-content: space-between;
    color: #12adc1;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    padding-bottom: 4px;
    .used {
      background: #12adc126;
      border-radius: 100px;
      padding: 4px 10px;
    }
  }
  .usedInfo {
    padding: 12px 6px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #686b70;
    p {
      color: #686b70b2;
      padding-bottom: 2px;
    }
    .debtPayment {
      color: #ed4337;
    }
  }
  .historyInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2px;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #686b70;
  }

  .moreWrap {
    display: flex;
    justify-content: flex-end;
    color: #12adc1;
    font-size: 13px;
    background: #f9f9f9;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
  }
    .moreWrap:active,
    .moreWrap:focus {
      outline: none !important;
      background-color: #f9f9f9 !important;background: #f9f9f9;
    }
  
    
  .openCard {
    max-height: 1000px; /* Set to a sufficiently large value */
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  
  .card {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
}

.NoHistory {
  margin: 12px;
}
.NoHistoryBox {
  height: 80vh;
  width: 327px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #282727;
    text-align: center;
  }
  .text {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: #686b70b2;
    text-align: center;
  }
}
